<h1 class="text-center m-2">Find A City</h1>
<div class="container">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"
      ><i-bs name="search"></i-bs
    ></span>
    <input
      type="text"
      class="form-control"
      name="cityName"
      [(ngModel)]="cityName"
      (ngModelChange)="search()"
      placeholder="City name here..."
      aria-label="City Name"
      aria-describedby="basic-addon1"
    />
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-6">City Name</th>
        <th class="col-6">Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities">
        <td class="col-6">{{ city.cityName }}</td>
        <td class="col-6">{{ city.count }}</td>
      </tr>
    </tbody>
  </table>
</div>
